                <form hx-swap="outerHTML" hx-post="/items/addItem">
                <span>Add a New Item</span>
               
                <input type="text" name="itemName" class="form-control" placeholder="Item Name">
                <div class="input-group flex-nowrap unpadSides">
                <input type="text" name="itemPrice" class="form-control" placeholder="Item Price">
                <input type="text" name="itemTax" class="form-control" placeholder="Item Tax">
                </div>
                
                <div class="input-group flex-nowrap unpadSides">
                <input type="text" name="itemCode" class="form-control" placeholder="Item Code">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
