<%- include('partials/header') -%>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Magical Merchant</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link active">Sign-up</a></li>
      </ul>
    </header>

    <main class="my-auto px-3 text-center justify-content-center">


  <div class="container col-xl-10 col-xxl-8 px-4">
            <section class="col-6">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                </section>


    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h2 class="display-4 fw-bold lh-1 mb-3">Sign-up for</h2>
        <h1 class="display-4 fw-bold lh-1 mb-3">Magical Merchant</h1>
        <p class="col-lg-10 fs-4">A Stripe API key is required to take payments via card.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" action="/signup" method="POST">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingUname" placeholder="User Name" name="userName">
            <label for="floatingUname">User Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email Address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingConfirm" placeholder="Confirm Password" name="confirmPassword">
            <label for="floatingConfirm">Confirm Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-muted">We'll never share your email with anyone else.</small>
        </form>




























































    </main>

    <footer class="mt-auto row justify-content-around">
    </footer>
</div>





<%- include('partials/footer') -%>
